<phpunit colors="true"
         bootstrap="vendor/photon/photon/src/photon/testbootstrap.php"
>
    <testsuites>
        <testsuite name="Micro ORM for MongoDB Tests">
             <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="photon.config" value="config.test.php"/>
    </php>
</phpunit>
